<mat-toolbar class="toolbar background-brown-dark" color="primary">
    <mat-toolbar-row style="height: 100px;">
        <div style="width: 80%">
            <div fxLayout="row wrap" fxLayoutAlign="end start">
                <button mat-button routerLink="">Github Repositories</button>
                <button mat-button routerLink="">Bellevue University Web Development Degree Courses' Youtube
                    Channel</button>
                <button mat-button routerLink="">Courses' GitHub Repositories</button>
            </div>
        </div>
    </mat-toolbar-row>
</mat-toolbar>