<mat-toolbar class="toolbar background-brown-dark" color="primary">
    <mat-toolbar-row style="height: 100px;">
        <div style="width: 80%">
            <div fxLayout="row wrap" fxLayoutAlign="end start">
                <button mat-button-raised><a href="https://github.com/pcuauronava" target="_blank">Patrick's Github
                        Repositories</a></button>
                <button mat-button-raised><a href="https://www.youtube.com/user/bellevueuniversity" target="_blank">Bellevue University Web
                        Development Degree</a></button>
                <button mat-button-raised><a href="https://www.bellevue.edu/degrees/bachelor/web-development-bs/" target="_blank">Bellevue
                        University Web Development Degree Courses' Youtube
                        Channel</a></button>
                <button mat-button-raised><a href="https://github.com/buwebdev/web-330" target="_blank">Enterprise JavaScript II -
                        WEB330</a></button>
                <button mat-button-raised><a href="https://www.youtube.com/user/bellevueuniversity" target="_blank">Bellevue University Youtube
                        Channel</a></button>
            </div>
        </div>
    </mat-toolbar-row>
</mat-toolbar>