<div class="about">
<!-- in this page I want to list all the judo techniques I have stored, either in the online
 firestore database or the  emulator. Remember to check the configuration in the firestore files-->
    <h2>Judo Techniques</h2>

    <!-- <img class="judo-throws mat-elevation-z10" src="https://thumbs2.imgbox.com/e7/69/78QhJlRB_t.png" alt="image host"> -->
    <!-- <a href="https://www.flaticon.com/free-icons/judo" title="judo icons">Judo icons created by photo3idea_studio - Flaticon</a> -->
    <hr>
    
</div>
<div>
    <div class="header">
        <h2 class="title">Judo Throws</h2>

        <button mat-mini-fab color="accent">
            <mat-icon class="add-course-btn">add</mat-icon>
        </button>
    </div>
</div>
<div>
<mat-tab-group>
    <mat-tab label="te-waza">

        <!-- <app-judo-throws-list [jthrows]="tewazaThrow$ | async">

        </app-judo-throws-list> -->



    </mat-tab>
    <mat-tab label="koshi-waza">
        
    </mat-tab>
    <mat-tab label="ashi-waza">

    </mat-tab>
    <mat-tab label="sutemi-waza">
            
    </mat-tab>
    <mat-tab label="osae-komi-waza">
            
    </mat-tab>
    <mat-tab label="shime-waza">
            
    </mat-tab>
    <mat-tab label="kansetsu-waza">
            
    </mat-tab>
</mat-tab-group>
    <hr>
<button mat-raised-button class="upload-btn" color="primary" (click)="uploadData()">Populate Database</button>
    <hr>

    <button mat-raised-button color="accent" (click)="onReadDoc()">Read Document</button>
    <hr>

    <button mat-raised-button color="accent">Read Collection</button>
    <hr>
</div>