<div class="about">
In this page I want to list all the judo techniques I have stored, either in the online
 firestore database or the  emulator.
 <!-- Remember to check the configuration in the firestore files -->
    <!-- <img class="judo-throws mat-elevation-z10" src="https://thumbs2.imgbox.com/e7/69/78QhJlRB_t.png" alt="image host"> -->
    <!-- <img class="judo-throws mat-elevation-z10" src="../../assets/judo.png" alt="image host"> -->
    <!-- <hr> -->
    <!-- <a href="https://www.flaticon.com/free-icons/judo" title="judo icons">Judo icons created by photo3idea_studio - Flaticon</a> -->
    <!-- <hr> -->
    
</div>
<div>
    <div class="header">
        <h1 class="title">Judo Techniques</h1>
    </div>
</div>
<div>
<mat-tab-group>
    <mat-tab label="Te-waza -- Hand">
        <app-judo-throws-list [jthrows]="tewazaThrows$ | async"></app-judo-throws-list>
    </mat-tab>
    <mat-tab label="Koshi-waza -- Hip">
        <app-judo-throws-list [jthrows]="koshiwazaThrows$ | async"></app-judo-throws-list>        
    </mat-tab>
    <mat-tab label="Ashi-waza -- Foot or leg">
        <app-judo-throws-list [jthrows]="ashiwazaThrows$ | async"></app-judo-throws-list>
    </mat-tab>
    <mat-tab label="Sutemi-waza -- Sacrifice">
        <app-judo-throws-list [jthrows]="sutemiwazaThrows$ | async"></app-judo-throws-list>
    </mat-tab>
    <mat-tab label="Osae-komi-waza -- Hold-down">
        <app-judo-throws-list [jthrows]="osaekomiwazaThrows$ | async"></app-judo-throws-list>
    </mat-tab>
    <mat-tab label="Shime-waza -- Strangling">
        <app-judo-throws-list [jthrows]="shimewazaThrows$ | async"></app-judo-throws-list>        
    </mat-tab>
    <mat-tab label="Kansetsu-waza -- Joint locks">
        <app-judo-throws-list [jthrows]="kansetsuwazaThrows$ | async"></app-judo-throws-list>
    </mat-tab>
</mat-tab-group>
<button mat-raised-button class="upload-btn" color="primary" (click)="uploadData()">Populate Database</button>
</div>