<!-- <div class="card">
    <div class="card-title"></div>
    <div class="card-content">
        <app-carousel></app-carousel>
    </div>
</div> -->

<div class="card">

    <div class="card-title">A little bit about me
    </div>
    <div class="card-content">
        <p>I know talking about politics is not the most appealing topic but, the only reason I am actually living in
            the United States is because I flee a Socialist Dictatorship in my homeland Venezuela. I am grateful to this
            country for giving me the opportunity to start over and to provide a better future for my family.
        </p>
        <p>
            We are now six (6) members in my family: My wife: Liseth, my son: Paul, my first daughter: Rebecca, my
            last daughter:
            Samantha (there's a reason why I said last, believe me!), and my mom: Hilda "Meche", share a home in
            Auburndale Florida
            after we suffered in Venezuela, the three of us escaped and then we became five (5) family members, lastly
            my joined us and became my daughters babysitter.
        </p>
        <p>
            I studied Electronics and received a Engineering degree overseas. I used my knowledge to work as an
            Electrician at Walt Disney World. It's been six (6) years now since I started to work for the mouse. Now I
            want to work with
            the keyboard and become a successful Software and Web Developer.
        </p>
        <p>
            I love gadgets and electronics in general. I own an electric car and I love martial arts, I achieved brown
            belt in Shotokan Karate and now I am practicing Kodokan Judo at a local Dojo at Lakeland.
        </p>
    </div>
</div>