<div class="container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                Firebase Test
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <!-- <button mat-raised-button color="primary" (click)="onSaveData()">Save Data</button> -->
            <!-- <button mat-raised-button color="accent" (click)="onFetchData()">Fetch Data</button> -->
            <!-- <button mat-raised-button color="warn" (click)="onDeleteData()">Delete Data</button> -->
            <mat-list>
                <!-- <mat-list-item *ngFor="let item of items">
                    {{ item.throw }} - {{ item.category }} - {{ item.url }}
                </mat-list-item> -->
            </mat-list>
        </mat-card-content>
    </mat-card>
    
</div>