<div class="secondary">
<mat-card>
    <mat-card-title>
        Projects List
    </mat-card-title>
    <mat-card-subtitle>
        <p>This list of Projects, show the projects in the Web Development Curriculum designed by Bellevue University, each course has a milestone project involving all the knowledge in action</p>
    </mat-card-subtitle>
    <mat-card-content>
        <button mat-button><a href="https://pcuauronava.github.io/web-231/">Enterprise JavaScript I</a></button>
        <button mat-button><a href="https://pcuauronava.github.io/web-330/">Enterprise JavaScript II</a></button>
        <button mat-button><a href="https://web420-capstone-project.onrender.com/api-docs/">RESTful APIs</a></button>
        <button mat-button><a href="https://pcuauronava.github.io/composer-app/">Composer App - Observers</a></button>
        <button mat-button><a href="https://pcuauronava.github.io/gpa-calculator-app/">GPA Calculator App</a></button>
        <button mat-button><a href="https://pcuauronava.github.io/in-n-out-books/">In-N-Out-Books - Async</a></button>
        <button mat-button><a href="https://pcuauronava.github.io/loan-app/">Loan Calculator App</a></button>
        <button mat-button><a href="https://cuauro-nodebucket.onrender.com">Node Bucket Project - MEAN
                Stack</a></button>
        <button mat-button><a href="https://group1-bcrs.onrender.com/">Bob's Computer Repair Shop Project - MEAN
                Stack</a></button>

    </mat-card-content>
</mat-card>
</div>