<div class="main">
    <mat-accordion>
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <strong>Database Diagrams in Web Development</strong>
                </mat-panel-title>
                <mat-panel-description>
                    These are the diagrams used in a NoSQL database to store information. In this Particular case I used
                    MongoDB
                </mat-panel-description>
            </mat-expansion-panel-header>

        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Node Shopper Diagrams - WEB335
                </mat-panel-title>
                <mat-panel-description>
                    
                    In this we linked the invoices to the users
                </mat-panel-description>
            </mat-expansion-panel-header>
            <img src="https://images2.imgbox.com/92/23/0xZ53Q9w_o.jpg" alt="database-diagram-shopper">
        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Node Tech Diagrams - WEB335
                </mat-panel-title>
                <mat-panel-description>
                     
                      
                    In this we linked the courses to the terms to the students
                </mat-panel-description>
            </mat-expansion-panel-header>
            <img src="https://images2.imgbox.com/48/b7/IgSw9e7A_o.jpg" alt="database-diagram-tech">
        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Node Security Diagrams - WEB335
                </mat-panel-title>
                <mat-panel-description>
                     
                      
                    In this we linked the features to the roles to the users
                </mat-panel-description>
            </mat-expansion-panel-header>
            <img src="https://images2.imgbox.com/4e/14/KWfuJeYZ_o.jpg" alt="database-diagram-security">
        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Node Book Co - WEB335
                </mat-panel-title>
                <mat-panel-description>
                     
                      
                    In this we linked the author to the books to the publishers
                </mat-panel-description>
            </mat-expansion-panel-header>
            <img src="https://images2.imgbox.com/91/72/wAqj4usY_o.jpg" alt="database-diagram-book">
        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Node Whatabook Project - WEB335
                </mat-panel-title>
                <mat-panel-description>
                     
                      
                    This Diagram shows the relationship between the books, the customers and the company Whatabook
                </mat-panel-description>
            </mat-expansion-panel-header>
            <img src="https://images2.imgbox.com/ef/56/gIIocP4O_o.jpg" alt="database-diagram-whatabook">
        </mat-expansion-panel>
        
    </mat-accordion>
</div>
<!-- insert this in between the expansion panel to make the panel self aware -->
<!-- Currently I am {{panelOpenState ? 'open' : 'closed'}} -->
<!-- <div class="under-construction">
    <h1>Under Construction</h1>
    <p>Sorry, this page is under construction. Please come back later.</p>
</div> -->