<mat-card>
<h2 mat-dialog-Title>Edit Course</h2>
<mat-dialog-content [formGroup]="form">
    <mat-form-field>
        <input matInput placeholder="Title" formControlName="title">
    </mat-form-field>
    <hr>
    <mat-form-field>
        <textarea matInput placeholder="Content" formControlName="content">

        </textarea>
    </mat-form-field>
    <hr>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button (click)="close()">
        Close
    </button>
    <hr>
    <button mat-raised-button color="primary" (click)="save()"> 
        Save
    </button>
    <hr>
</mat-dialog-actions>
</mat-card>