<!-- <mat-card>
    <mat-card-title>Welcome to my page</mat-card-title>
        <mat-card-content>
        </mat-card-content>
        
    </mat-card> -->
<div>
    <hr>
    <p>Welcome to my homepage, the purpose of the page is to introduce myself and help in some way.</p>
    <p>Some pages are Still in development and sometimes I keep refreshing my knowledge and adding some more by fixing
        and applying new features to it.</p>
    <p>Feel free to navigate through the site. I am receiving suggestions and ideas, thank you for visiting.</p>
    <p>I recommend you to go to the post section on the left navigation panel</p>
    <!-- <div class="elfsight-app-fb2c50d9-f7eb-41e0-837b-ef9a76311d2d" data-elfsight-app-lazy></div> -->
</div>